In [3]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple
#answer=
#You can create a single variable containing multiple data types by using a Python dictionary. Here's an example:
str="My name is deepali"
list=[1,2,3,4,5]
float=88.77
tuple=(10,20,30)
print(str)
print(list)
print(float)
print(tuple)
#you can access them like this

My name is deepali
[1, 2, 3, 4, 5]
88.77
(10, 20, 30)

In [6]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.
#answer=
var1=' '               #empty space inside qoutes
var2='[DS,ML,Python]'  #actually its string but looks like list
var3=['DS','ML','Python']   #a list of string
var4=1.                  #a float value
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))
#finally
#var1=str(string)
#var2=str(string)
#var3=list(list)
#var4=float(floating point number)

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [10]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **
answer=
Explanation of Operators with Examples
(1) / (Division Operator)
It performs normal division and returns the result as a floating-point number.
Example:'''
marks= 500/6
print(marks)
'''(2) % (Modulus Operator)
It returns the remainder after division.
Example:'''
marks= 500%6
print(marks)
'''(3) // (Floor Division Operator)
It performs integer division (floor division) and returns the quotient as an integer (without the decimal part).
Example:'''
marks= 500//6
print(marks)
'''(4) ** (Exponentiation Operator)
It is used to calculate the power of a number.
Example:'''
marks= 500**6
print(marks)

83.33333333333333
2
83
15625000000000000

In [23]:
'''Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
Answer=
Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.'''
my_list = ["DEEPALI",111, 3.14, False, [1, 2, 3], (4, 5, 6), ("HOME"), None, complex(8+2j), "india(type)"]
for item in my_list:
    print(f"Element: {item}, Type: {type(item)}")

Element: DEEPALI, Type: <class 'str'>
Element: 111, Type: <class 'int'>
Element: 3.14, Type: <class 'float'>
Element: False, Type: <class 'bool'>
Element: [1, 2, 3], Type: <class 'list'>
Element: (4, 5, 6), Type: <class 'tuple'>
Element: HOME, Type: <class 'str'>
Element: None, Type: <class 'NoneType'>
Element: (8+2j), Type: <class 'complex'>
Element: india(type), Type: <class 'str'>

In [2]:
'''Q5.Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
Answer=
Here's a Python program that uses a while loop to check if A is purely divisible by B and counts how many times it can be divide:'''
A=int(input("Enter the value of A:"))
B=int(input("Enter the value of B:"))
count = 0
while A % B == 0:
    A = A // B
    count+=1
    
    if count > 0:
        print(f"A is divisible by B {count} times.")
    else:
        print("A is not divisible by B")

Enter the value of A: 80
Enter the value of B: 10

A is divisible by B 1 times.

In [3]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
Answer=
Here's a Python program that creates a list of 25 integer values and checks if each element is divisible by 3 using a for loop and if-else condition:'''
num_list = [3, 7, 9, 12, 18, 21, 25, 30, 33, 36, 40, 42, 45, 50, 54, 60, 63, 66, 70, 72, 75, 80, 81, 90, 99]
for num in num_list:
    if num % 3 == 0:
        print(f" {num} is divisible by 3")
    else:
        print(f" {num} is NOT divisible by 3")

 3 is divisible by 3
 7 is NOT divisible by 3
 9 is divisible by 3
 12 is divisible by 3
 18 is divisible by 3
 21 is divisible by 3
 25 is NOT divisible by 3
 30 is divisible by 3
 33 is divisible by 3
 36 is divisible by 3
 40 is NOT divisible by 3
 42 is divisible by 3
 45 is divisible by 3
 50 is NOT divisible by 3
 54 is divisible by 3
 60 is divisible by 3
 63 is divisible by 3
 66 is divisible by 3
 70 is NOT divisible by 3
 72 is divisible by 3
 75 is divisible by 3
 80 is NOT divisible by 3
 81 is divisible by 3
 90 is divisible by 3
 99 is divisible by 3

In [5]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Answer==
Mutable vs Immutable Data Types in Python
In Python, data types are classified as mutable or immutable based on whether their values can be changed after creation.
1 Mutable Data Types
Mutable objects allow modification after creation.
Changing the value does not create a new object in memory.
Examples: list, dict, set, bytearray
Example: Mutable (List)'''
my_list = [55, 87, 77]
print("Before modification:", my_list)
my_list[1] = 100
print("After modification:", my_list)
'''The list was modified in place, proving that lists are mutable.
Immutable Data Types
Immutable objects cannot be modified after creation.
Any change creates a new object in memory.
Examples: int, float, tuple, str, frozenset, bytes
Example: Immutable (String)'''
my_string = ("I am ds student")
print("Before modification:", my_string)
my_string = my_string + " of pwskills"
print("After modification:", my_string)
#A new string object was created instead of modifying the original one.

Before modification: [55, 87, 77]
After modification: [55, 100, 77]
Before modification: I am ds student
After modification: I am ds student of pwskills